/* Reset */
*{
    margin: 0;
    padding: '0';
    box-sizing: border-box;
}

/* Body */
body{
    background-color: aliceblue;
}


.container{
    min-height: 300px;
    width: 50%;
    margin: 5vh auto;

    background-color: white;
    border: 1px solid slategray;
    border-radius: 30px;
}
#output-text{
    text-align: center;
    color: darkslategray;
}